* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(247, 237, 240);
  background: radial-gradient(
    circle,
    rgba(247, 237, 240, 1) 65%,
    rgba(67, 44, 35, 0.2) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}
